.navbar-nav{
    margin: auto;
}
.nav-item{
    margin-left: 10px;
}

.nav-link{
    color: black;
	transition: 0.5s;
}

.nav-link:hover{
    letter-spacing: 0.1em;
}

nav li a:hover{
  color: #7B7B7B;
}

h4{
  font-weight: 700;
}

.text-primary1{
  color: #ffd700;
}
/**
.text-primary2{
  color: #d9ffad;
}

.text-primary3{
  color: #eabbbb;
}

.text-primary4{
  color: #f4a07b;
}

.text-primary5{
  color: #fb735a;
}
**/
.card{
    transition: 0.5s;
}

.card:hover{
  box-shadow: -3px -3px 26px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px -3px 26px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px -3px 26px -6px rgba(0,0,0,0.75);
}

.btn1{
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: #000000;
  color: white;
  font-weight: 500;
  border-radius: 60px;
  transition: 0.5s;
}

.btn1:hover{
  background-color: white;
  color: black;
}

.line-through {
  text-decoration: line-through;
  color: #de2454;
}

